body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: linear-gradient(60deg, #64b3f4 0%, #c2e59c 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



#labSearchResults, 
#additionalSymptomsSearchResults{
  /* width: max(500px); */
  overflow-y:auto;
  overflow-x: auto;
  height: max(17vh) !important;
  border: none;
}

.dropdown-item {
  width: auto;
}

.hidden {
  display: none!important;
}
#selectedAge{
  font-size: 20px;
  text-decoration: underline;
}

#inputGender {
  padding: 0 1px 0 1px;
  border-radius: 0;
  text-decoration: underline;
}

#selectedAge.form-control::-webkit-input-placeholder {
  color: #000000;
  font-size: 20px;
}
#selectedAge.form-control:-moz-placeholder {
  color: #000000;
  font-size: 20px;
}
#selectedAge.form-control::-moz-placeholder {
  color: #000000;
  font-size: 20px;
}
#selectedAge.form-control::placeholder {
  color:  #000000;
  font-size: 20px;
}
#selectedAge.form-control:-ms-input-placeholder {
  color:  #000000;
  font-size: 20px;
}

#labSearchResult:hover, 
#additionalQuestionText:hover {
  background-color: #7e7e7e4d;
  cursor: pointer;
}

.toggleTab {
  -webkit-touch-callout: none; 
    -webkit-user-select: none; 
     -khtml-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none; 
            user-select: none; 
  cursor: pointer;
}

#individualSymptomSearchResult {
  padding-top: 0!important;
  padding-bottom: 5px!important;
}

#individualSymptomSearchResult:hover {
  background-color: #7e7e7e28;
}

#patientNoteContainer {
  /* width: 50%!important; */
  position: relative;
  margin: auto;
  border-radius: 10px;
}

#patientMainNote {
  border-radius: 10px;
  height: 90vh;
}

.notarget {
  pointer-events: none;
}

.listItem {
  margin-left: 25px;
}

.category {
  font-size: 20px;
  font-weight: bold;
}

#ccSearch {
  opacity: .4;
  width: 17px;
}
#ccSearch:hover {
  opacity: 1;
  cursor: pointer;
}

#ccSearchContainer, #symptomsSearchContainer, #labsMainContainer,
#risksMainContainer{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 30;
  margin: auto;
  background-color: #00000000 ;
}
#ccSearchContainerTop, #symptomsSearchContainerTop, #labsSearchContainerTop,
#risksSearchContainerTop {
  position: absolute;
  width: 50%;
  height: 50%;
  z-index: 31;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  /* text-align: center; */
  background-color: white;
  border-radius: 10px;
  overflow-y: hidden;
}
#ccSearchContainerBottom, #symptomsSearchContainerBottom, #labsSearchContainerBottom,
#risksSearchContainerBottom {
  position: absolute;
  width: 100%;
  z-index: 30;
  height: 100%;
  background-color: #00000052!important;
}

#ccSearchResultOutput {
  overflow-y: scroll;
}

#additionalSymptomsSearchResultsContainer {
  height: 10%;
  margin-bottom: 50px;
  border: none;
}

#labTopButtonsContainer {
  height: 10vh !important;
  overflow-y: scroll;
}